*{margin: 0;
  padding: 0;}
.slider{
  
  margin: auto;
  overflow: hidden;

}
.slider ul{

display:flex;
padding: 0;
width: 400%;
animation: cambio 20s infinite;
animation-direction: alternate;

}
.slider li {
list-style: none;
width: 100%;

}
.slider img{
width: 100%;
height: 30%;
box-shadow:5px 5px #c0cec5
;

}
@keyframes cambio {
0%{margin-left: 0;}
20%{margin-left: 0;}

30%{margin-left:-100%;}
45%{margin-left: -100%;}

55%{margin-left:-200%;}
70%{margin-left: -200%;}

80%{margin-left:-300%;}
100%{margin-left: -300%;}
}
header{width: 100%;}
nav{
margin:  auto;
width: 100%;

}
nav>ul{
display: table;
overflow: hidden;
width: 100%;
background: #000;
position: relative;
}
nav>ul li{
display: table-cell;
}
/*sub menu*/
nav>ul>li:hover>ul{
display: block;
height: 100%;

}
nav>ul>li>ul{
display: block;
background:rgb(160, 160, 160);
left: 0;
right: 0;
overflow: hidden;
height: 0;
display: none;
  -webkit-transition: all .4s ease;
-moz-transition: all .4s ease;
-ms-transition: all .4s ease;
-o-transition: all .4s ease;
transition: all .4s ease;

}

nav> ul li a {
color:#fff;
display: block;
line-height:20px;
padding: 20px;
position: relative;
text-align: center;
text-decoration:none;
-webkit-transition: all .4s ease;
-moz-transition: all .4s ease;
-ms-transition: all .4s ease;
-o-transition: all .4s ease;
transition: all .4s ease;
}
nav>ul>li>ul>li a:hover{
background: #5da5a2;
}
nav>ul>li>a span{
background:#7b99a7;
display: block;
height: 100%;
width: 100%;
left: 0;

position: absolute;
top: -55px;
-webkit-transition: all .4s ease;
-moz-transition: all .4s ease;
-ms-transition: all .4s ease;
-o-transition: all .4s ease;
transition: all .4s ease;

}
nav>ul>li>a span .icon{  
display: block;
line-height: 60px;
}
nav>ul>li> a:hover>span{
 top: 0;
}
/*color*/
nav ul li a .a {
 background: #0e5061;
}
nav ul li a .b {
 background: #3a47c0;
}
nav ul li a .c {
 background: #4e4e4e;
}
h1{
  background:red ;
}
body{
 background:#e5dcd5
}
