{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <link href="{% static 'css/administrador.css' %}"  rel="stylesheet" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INICIO DE SESION</title>
</head>
<body>
  {% include "componentes/nav.html"%}
  <div id="contenedor">
    <h1 id="titulo">BANCA VIRTUAL BIENVENIDO ADMINISTRADOR</h1>
  <div id="divBotones">
    <form action="" method=POST>
      {% csrf_token %}
      <h3 id="textoContra">USUARIO</h3>
      <input type="text"  name="usuario">
      <h3>CONTRASEÑA</h3>
      <input id="contraseña" type="password" name="password">
      <input id = "botonEnviar" type="submit" value="INICIAR SESION">
    </form>

  </div>
  </div>
  <h1 id="contra">{{contra}}</h1>
  {% include "componentes/footer.html"%}
</body>
</html>