{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="{% static 'css/persona.css' %}"  rel="stylesheet" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% include "componentes/nav.html"%}
  <H1>FORMULARIO DE CREACION DE CUENTA DE USUARIO</H1>
  <form action="" method=POST>
    {% csrf_token %}
    <p>USUARIO</p>
    <input type="text" name="usuarioPersona" required>
    <p>CUI</p>
   <input type="text" name="cuiPersona" required>
   <p>NIT</p>
   <input type="text" name="nitPersona" required>
   <p>NOMBRE</p>
   <input type="text" name="nombrePersona" required>
   <p>FECHA DE NACIMIENTO</p>
   <input type="date" name="fecha" required>
   <p>contraseña</p>
   <input type="password" name="contraPersona" required>
   <input type="submit" id="enviar" value="CREAR CUENTA">
  </form>
  <h1>{{nota}}</h1>
  {% include "componentes/footer.html" %}
</body>
</html>